################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/c++/Day2/.vs/Day2.slnx
/c++/Day2/x64/Debug
/c++/Day3/.vs/Day3.slnx
/c++/Day3/Day3/x64/Debug
/c++/Day3/x64/Debug
/c++/Day4/.vs/Day4.slnx
/c++/Day4/x64/Debug
/c++/Day5/.vs/Day5.slnx/v18
/c++/Day6/.vs
/c++/Day6/x64/Debug
/c++/Day6/Day6/x64/Debug
