################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/c++/Day2/.vs/Day2.slnx
/c++/Day2/x64/Debug
/c++/Day3/.vs/Day3.slnx
/c++/Day3/Day3/x64/Debug
/c++/Day3/x64/Debug
